/*html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}*/
body {
  background: #ddd;
  padding: 0px;
  margin: 0px;
}

.icon-bar {
  position: fixed;
  top: 50%;
  left: -160px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.icon-bar .icon {
  text-decoration: none;
  width: 210px;
  border-radius: 100px;
  padding-right: 10px;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  /*&.pick {
            transform: translateX(-90px);
        }*/
}

.icon-bar .icon.hide {
  -webkit-transform: translateX(-220px);
          transform: translateX(-220px);
}

.icon-bar .icon.pick {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

.icon-bar .icon.show {
  -webkit-transform: translateX(160px);
          transform: translateX(160px);
}

.icon-bar .icon img {
  width: 50px;
}

.icon-bar .icon .inner-icon {
  width: 100%;
  font-size: 1.3em;
  padding: 10px;
  height: 100%;
}

.icon-bar .icon.delivery {
  background-color: #fbfb52;
}

.icon-bar .icon.delivery .inner-icon {
  font-size: .9em;
}

.icon-bar .icon.whatsapp {
  background-color: lightgreen;
}

.icon-bar .icon.facebook {
  background-color: #4267B2;
}

.icon-bar .icon.instegram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), -webkit-gradient(linear, left top, left bottom, from(#6559ca), color-stop(30%, #bc318f), color-stop(50%, #e33f5f), color-stop(70%, #f77638), to(#fec66d));
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
}

.icon-bar .icon a {
  color: white;
}

.mark-strong {
  display: inline;
  font-weight: 900;
  font-size: larger;
}

.sec-1 {
  position: relative;
  /*.bg {
        overflow-x:hidden;
    
        //overflow:hidden;
        width: 100%;
        height: 100%;
        background: url('dogsHero.jpg');
        //background-position: bottom;
        object-fit: cover;
        */
}

.sec-1 .hero-image {
  width: 100%;
}

.sec-1 .logo {
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 250px;
}

.sec-1 .content {
  padding: 20px;
  border-radius: 55px;
  width: 90%;
  position: absolute;
  top: 30vh;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-1 .content .title-1 {
  color: white;
  text-align: center;
  font-size: 3.2em;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.sec-1 .content h1 {
  color: white;
  text-align: center;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.sec-2 .sec-2-title {
  text-align: center;
  font-size: 2.2rem;
}

.sec-2 .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sec-2 .content .list {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-2 .content .list ul li {
  list-style: none;
  font-size: 1.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-2 .content .list ul li .list-icon {
  color: white;
  display: inline;
  width: 75px;
  height: 75px;
  padding-left: 20px;
}

.sec-2 .content .list .list-footer {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
}

.sec-2 .content .list .list-footer .mark-strong {
  display: inline;
}

.sec-2 .content .lead-form {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px;
  background: #d2e2f7;
  border-radius: 25px;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  margin-left: 25px;
}

.sec-2 .content .lead-form form {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-2 .content .lead-form form .lead-title {
  text-align: center;
  font-size: 2em;
}

.sec-2 .content .lead-form form .spam {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  color: black;
  text-align: center;
  font-size: 0.9rem;
  text-shadow: none;
}

.sec-2 .content .lead-form form input {
  width: 100%;
  max-width: 90vw;
  font-size: 2em;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.sec-2 .content .lead-form form input:hover, .sec-2 .content .lead-form form input:focus {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.sec-2 .content .lead-form form .submit-btn {
  width: 100%;
  background-color: yellowgreen;
  margin-top: 20px;
  font-size: 2em;
  border-radius: 15px;
}

.sec-2 .content .lead-form form .submit-btn:hover {
  background-color: #84b12b;
}

.sec-3 .sec-3-title-1 {
  text-align: center;
  font-weight: 500;
}

.sec-3 .sec-3-title-2 {
  text-align: center;
  font-weight: 700;
}

.sec-3 .content {
  /*display: flex;
        flex: 0 0 30%;
        flex-wrap: wrap;
        justify-content: center;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sec-3 .content .card {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.3);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  background-color: white;
  /*flex: 1;
            min-width: 300px;
            flex-grow: 0;*/
  /*min-width: 300px;
            max-width: 350px;*/
  -webkit-box-flex: 1;
      -ms-flex: 1 0 32%;
          flex: 1 0 32%;
  margin: 5px;
  min-width: 200px;
  border: 1px #84b12b solid;
  border-radius: 15px;
}

.sec-3 .content .card:hover {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.sec-3 .content .card h2 {
  text-align: center;
}

.sec-3 .content .card ul li {
  font-size: 1.2rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-3 .content .card ul li:hover .star {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: jump 1s linear alternate;
          animation: jump 1s linear alternate;
}

@-webkit-keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
            transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
  }
  40% {
    -webkit-transform: translate3d(0, -30%, 0) scale3d(1.5, 0.7, 1);
            transform: translate3d(0, -30%, 0) scale3d(1.5, 0.7, 1);
  }
  60% {
    -webkit-transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
            transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

@keyframes jump {
  0% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  20% {
    -webkit-transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
            transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
  }
  40% {
    -webkit-transform: translate3d(0, -30%, 0) scale3d(1.5, 0.7, 1);
            transform: translate3d(0, -30%, 0) scale3d(1.5, 0.7, 1);
  }
  60% {
    -webkit-transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
            transform: translate3d(0, -30%, 0) scale3d(0.7, 1.5, 1);
  }
  80% {
    -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
            transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
}

.jump {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-animation: jump .5s linear alternate;
          animation: jump .5s linear alternate;
}

.sec-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-4 .about-me {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.sec-4 .about-me h2 {
  text-align: center;
  font-size: 2em;
  padding: 0px;
}

.sec-4 .about-me .text {
  text-align: center;
  font-size: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
}

.sec-4 .youtube-vid {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.sec-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-5 .picture img {
  max-width: 635px;
}

.sec-5 .comments .video video {
  height: 100%;
}

.sec-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sec-6 .main-prof {
  width: 80%;
}

.sec-7 h1 {
  background-color: #84b12b;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.sec-7 h1:hover {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.sec-7 .my-form {
  background-color: royalblue;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sec-7 .my-form:hover, .sec-7 .my-form:focus {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.sec-7 .my-form .spam {
  color: black;
  text-align: center;
  font-size: 0.9rem;
  text-shadow: none;
}

.sec-7 .my-form .form-cta {
  text-align: center;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
  text-shadow: 2px 0 0 #000, 0 -2px 0 #000, 0 2px 0 #000, -2px 0 0 #000;
}

.sec-7 .my-form .form-cta .mark-strong {
  font-size: larger;
}

.sec-7 .my-form input {
  width: 50%;
  margin-top: .5em;
  font-size: 2.5em;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.sec-7 .my-form input:hover, .sec-7 .my-form input:focus {
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}

.sec-7 .my-form .submit-btn-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sec-7 .my-form .submit-btn-wraper .submit-btn {
  padding: 10px;
  background-color: yellowgreen;
  margin-top: 10px;
  font-size: 2em;
  border-radius: 15px;
}

.sec-7 .my-form .submit-btn-wraper .submit-btn:hover {
  background-color: #84b12b;
}

#footer {
  background: #343b40;
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
}

#footer .container {
  /*width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;*/
}

#footer .container .copyright {
  text-align: center;
}

#footer .container .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

#footer .container .credits a {
  color: #60a142;
}

@media only screen and (max-width: 1000px) {
  .sec-4 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-4 .youtube-vid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 1100px) {
  .sec-1 .content {
    padding: 10px;
    top: 0px;
    -webkit-transform: translate(-50%, 10%);
            transform: translate(-50%, 10%);
  }
  .sec-5 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-5 .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .sec-5 .picture img {
    max-width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .sec-1 .content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
    width: 100%;
    /*
            left: 0px;
            width: 80%;
            transform: translate(10%, 110%);
            */
  }
  .sec-1 .content .title-1 {
    font-size: 1.8rem;
  }
  .sec-1 .content h1 {
    display: none;
  }
  .sec-1 .logo {
    position: absolute;
    top: 0%;
    left: 50%;
    max-width: 100vw;
    -webkit-transform: translate(-50%, -15%);
            transform: translate(-50%, -15%);
  }
  .sec-2 .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sec-2 .content .lead-form {
    margin-left: 0px;
  }
  .sec-5 .comments .video video {
    max-width: 100vw;
  }
  .sec-6 .main-prof {
    width: 100%;
    height: auto;
  }
}

/** {
    border: 1px red solid;
}*/
/*# sourceMappingURL=style.css.map */